<div>
    <h2>Questions</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="question.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Question</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detail"><span>Detay</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mediaUrl"><span>Resim</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoryName"><span>Sınav</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lessonName"><span>Ders</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="questionStatusName"><span>Soru Durumu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userLogin"><span>Kullanıcı</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commentCount"><span>Yorum Sayısı</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span>Sorulma Tarihi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span>Güncellenme Tarihi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in questions track by question.id">
                    <td><a ui-sref="question.detail({id:question.id})">{{question.id}}</a></td>
                    <td>{{question.detail}}</td>
                    <td><img data-ng-src="{{question.mediaUrl}}" class="img-responsive"/></td>
                    <td>
                        <a ui-sref="lov.detail({id:question.categoryId})">{{question.categoryName}}</a>
                    </td>
                    <td>
                        <a ui-sref="lov.detail({id:question.lessonId})">{{question.lessonName}}</a>
                    </td>
                    <td>
                        <a ui-sref="lov.detail({id:question.questionStatusId})">{{question.questionStatusName}}</a>
                    </td>
                    <td>
                        {{question.userLogin}}
                    </td>
                    <td>{{question.commentCount}}</td>
                    <td>{{question.createDate | date:'medium'}}</td>
                    <td>{{question.lastModifiedDate | date:'medium'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="question.detail({id:question.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="question.edit({id:question.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="question.delete({id:question.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
