<div>
    <h2>Parametre Yönetimi</h2>

    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Bu ekran parametreleri yönetmek için kullanılır.<br/>
                <ul>
                    <li><strong>StrParam1: </strong> Çeşitli parametrelerde farklı anlamlara gelir. Ders ve sınavlar için <strong>ikon</strong> parametresidir.</li>
                    <li><strong>StrParam2: </strong> Çeşitli parametrelerde farklı anlamlara gelir. Ders ve sınavlar için <strong>renk</strong> parametresidir.</li>
                    <li><strong>IntParam1: </strong> Çeşitli parametrelerde farklı anlamlara gelir. Puan kazanma tipleri için kazanılacak puanı gösterir.</li>
                    <li><strong>Status: </strong> Seçili ise bu değer aktif, yoksa pasif demektir. </li>
                    <li><strong>Sequence: </strong> Bu kolon satırların sıralaması için kullanılır, hangisi daha küçükse o satır daha yukarudadır.</li>
                </ul>
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>TYPE </strong> alını her bir parametre grubunu belirler. Lütfen bu alanı değiştirmeyiniz.
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="field_user">Parametre Tipi</label>
                    <select data-ng-change="loadLovList()"
                            class="form-control" id="field_user"
                            name="lov" ng-model="selectedLovType"
                            data-ng-options="lov as lov.description for lov in lovTypes track by lov.id">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="lov.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Lov</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>StrParam1</th>
                    <th>StrParam2</th>
                    <th>IntParam1</th>
                    <th>Desc</th>
                    <th>Status</th>
                    <th>Sequence</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lov in lovs track by lov.id">
                    <td><a ui-sref="lov.detail({id:lov.id})">{{lov.id}}</a></td>
                    <td>{{lov.type}}</td>
                    <td>{{lov.name}}</td>
                    <td>
                        <i class="fa {{lov.strParam1}}" data-ng-show="lov.strParam1"></i>
                        &nbsp; {{lov.strParam1}}
                    </td>
                    <td>{{lov.strParam2}}</td>
                    <td>{{lov.intParam1}}</td>
                    <td>{{lov.description}}</td>
                    <td>{{lov.status}}</td>
                    <td>{{lov.sequence}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="lov.detail({id:lov.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="lov.edit({id:lov.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="lov.delete({id:lov.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
