<div>
    <h2>ScoreHistorys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Kullanıcıların yaptıkları her işlem için buraya bir kayıt atılır. Skor tarihçesidir.
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="scoreHistory.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new ScoreHistory</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="score"><span>Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contentId"><span>ContentId</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span>CreateDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span>user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transactionType.name"><span>transactionType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contentType.name"><span>contentType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scoreHistory in scoreHistorys track by scoreHistory.id">
                    <td><a ui-sref="scoreHistory.detail({id:scoreHistory.id})">{{scoreHistory.id}}</a></td>
                    <td>{{scoreHistory.score}}</td>
                    <td>{{scoreHistory.contentId}}</td>
                    <td>{{scoreHistory.createDate | date:'medium'}}</td>
                    <td>
                        {{scoreHistory.user.login}}
                    </td>
                    <td>
                        <a ui-sref="lov.detail({id:scoreHistory.transactionType.id})">{{scoreHistory.transactionType.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="lov.detail({id:scoreHistory.contentType.id})">{{scoreHistory.contentType.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="scoreHistory.detail({id:scoreHistory.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="scoreHistory.edit({id:scoreHistory.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="scoreHistory.delete({id:scoreHistory.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
